{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "Set"] }],
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "import/default": 0,
    "import/extensions": 0,
    "import/no-duplicated": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "import/no-extraneous-dependencies": [0, {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "brace-style": [2, "stroustrup"],
    "comma-dangle": 0,
    "global-require": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "keyword-spacing": 0,
    "max-len": 0,
    "no-console": 1,
    "no-alert": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": [
      1,
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "vars-on-top": 0
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}