@import '~theme/colors';
@import '~theme/fonts';

#hero {
  background: linear-gradient(rgba(51, 51, 51, 1.5), rgba(51, 51, 51, 0.6)), url('./backgrounds/header.jpg') no-repeat center center;
  background-size: cover;
}

#mission {
  background-color: $light-grey;
  text-align: center;
  padding: 50px;
  h4 {
    font-style: italic;
  }
}

#info-good {
  //text-align: center;
  color: $white;
  padding: 80px 50px;
  > div {
    padding-bottom: 10px;
  }
}

#info-good-background {
  background: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url('./backgrounds/info.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}

#info-comparison {
  background-color: $light-grey;
  color: $black;
  text-align: center;
  padding: 50px;
  line-height: 30px;
}

#code-some-good {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 50px;
}

#staff {
  text-align: center;
  background-color: $light-grey;
  > div > div > div > div > div {
    //set height to prevent weird displays
    height: 230px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    > hr {
      border-top-width: 2px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    > img {
      width: 120px;
      border-radius: 100%;
    }
    // Easter eggs
    a, a:hover {
      color: $black;
      cursor: text;
      text-decoration: none;
    }
  }
}