@import '../../../assets/css/colors';
@import '../../../assets/css/fonts';

.hero {
  background: linear-gradient(rgba(51, 51, 51, 1.6), rgba(51, 51, 51, 0.6)), url('./header.jpg') no-repeat center center fixed;
  height: 500px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
