@import '../../../assets/css/pages/var';

// NEVER do this!! css modules only work on classes and ids!!!
/*
a,
p {
    color: $black;
    font-size: 12px;
}
a:hover {
    color: $yellow;
}

*/
#header {
    width: 100vw;
    text-align: center;
    #headerBg {
        background: url("https://source.unsplash.com/random") center center fixed;
        background-size: cover;
        //background-color: red;
        height: 150px;
        width: 100%;
        margin-top: 20px;
    }
    img {
        width: 75px;
        border-radius: 50%;
        margin-top: -35px;
    }
    #info {
        text-align: center;
        h1 {
            margin-bottom: 2px;
        }
        #left,
        #right {
            display: inline-block;
            margin-left: 20px;
            p {
                margin-bottom: 0px;
            }
        }
        #left {
            text-align: right;
            padding-right: 10px;
        }
        #right {
            text-align: left;
            padding-left: 10px;
        }
    }
}
#linkNav {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0;
    .inactive {
        border-bottom: solid 2px $black;
    }
    .active {
        border-bottom: solid 2px $yellow;
    }
}
#about,
#portfolio,
#reviews {
    hr {
        width: 30px;
        background-color: $yellow;
        border: 2px solid $yellow;
        margin: 0;
        margin-bottom: 11px;
    }
}
.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 15px;
    .button {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: $grey;
        color: $white;
        border-radius: 4px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
#follow {
    width: 100px;
    padding: 4px;
    border-radius: 4px;
    background-color: $yellow;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}
#about,
#reviews,
#linkNav {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#about {
    margin-top: -15px;
    .item {
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        a {
            text-decoration: underline;
            padding-right: 13px;
        }
    }
}
#pFlex {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}
#portfolio {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    #numProj {
        display: flex;
        width: 310px;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        hr {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .noPic {
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        .btns {
            margin-top: -7px;
        }
        .button {
            margin-top: 7px;
        }
    }
    .item {
        text-align: center;
        margin-left: -5px;
        width: 270px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        img {
            width: 270px;
        }
        .info {
            position: relative;
            z-index: 99;
            background-color: rgba(237, 237, 237, 0.5);
            margin-top: -33px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            padding-top: 7px;
            z-index: 99;
            width: 270px;
            i {
                padding-left: 15px;
                font-size: 1.7em;
                padding-right: 15px;
            }
        }
    }
}
.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    overflow-y: scroll;
    z-index: 999999999999999999;
    color: $white;
    img {
        display: block;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: auto;
    }
    p {
        max-width: 75vw;
        padding-bottom: 40;
        margin-left: auto;
        margin-right: auto;
        color: $white;
        margin-top: 20px;
        b {
            font-weight: 700;
        }
    }
    .close {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 99;
        padding: 20 40 0 40;
        color: $white;
        font-size: 45px;
        margin-top: -13px;
    }
}
@media only screen and (min-width: 400px) {
    #pFlex {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        .noPic {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
@media only screen and (min-width: 700px) {
    #pFlex {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #header {
        #headerBg {
            height: 250px;
        }
        img {
            width: 125px;
            height: 125px;
            margin-top: -65px;
        }
    }
}
#reviews {
    margin-top: -20px;
    .review {
        padding: 20px;
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .stars {
        color: $yellow;
    }
    .icon {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 20px;
    }
    h3 {
        margin-top: 0;
    }
}
