@import '~theme/colors';
@import '~theme/fonts';

// Good
#hero {
  background: linear-gradient(rgba(51, 51, 51, 1.5), rgba(51, 51, 51, 0.6)), url('./backgrounds/header.jpg') no-repeat center center;
  background-size: cover;

}

#info-developers, #info-nonprofits {
  color: $white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  h2 {
    text-transform: uppercase;
  }
  > div {
    max-width: 60%;
    margin: 0 auto;
    > div {
      padding-bottom: 20px;
    }
  }
}

#info-developers {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url('./backgrounds/developers.jpg') no-repeat center center;
  background-size: cover;
  @media (min-width: 991px) {
    border-right: 2px solid #F2F2F2; //Only display this if the whole row is present
  }

}

#info-nonprofits {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url('./backgrounds/nonprofits.jpg') no-repeat center center;
  background-size: cover;
}

#revolution {
  background-color: $light-grey;
  color: $black;

  > div {
    padding: 100px 50px;
    @media (min-width: 769px) {
      padding: 50px;
    }
    > div {
      @media (min-width: 769px) {
        max-width: 70%;
      }
      padding-bottom: 20px;
      margin: 0 auto;
    }
  }
}

#portfolio-panel, #work-panel, #help-panel {
  color: $white;
  padding: 50px;
  text-align: center;
  h3 {
    text-transform: uppercase;
  }
}

#portfolio-panel {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url('../../../assets/images/backgrounds/home/portfolio.jpg');
  background-size: cover;
  background-position-x: center;
}

#work-panel {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url('../../../assets/images/backgrounds/home/work.jpg') center bottom;
  background-size: cover;
}

#help-panel {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url('../../../assets/images/backgrounds/home/help.jpg');
  background-size: cover;
  background-position-x: center;
}
