@import '~theme/colors';

// Fix all universal shit and come back here

nav {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black;
  /*
    background-image: url(../images/logo/CLight.svg);
        background-size: auto 25px;
        background-position: center center;
        background-repeat: no-repeat;
    */
  /*box-shadow: 0px 0px 15px 5px #9A9A9A;*/
  /*box-shadow: 0px 0px 8px 5px #9A9A9A;*/
  color: #e4e3e1;
  z-index: 100;
  display: block;

  .left {
    list-style-type: none;
    padding: 0;
    float: left;
    display: table-row;
    margin-left: 1.5em;
  }

  .right {
    float: right !important;
    margin-right: -15px;
  }

  > li > a {
    color: #e4e3e1;
    font-weight: normal;
    font-size: 12px;
    margin-left: 20px;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
    transition: background .25s;

    :visited {
      background: $grey !important;
      color: $white !important;
    }

    :hover {
      background: $grey !important;
      color: $white !important;
    }

    :active {
      background: $grey !important;
      color: $white !important;
    }
  }

  .logo {
    margin: 7px;
    padding: 0;
  }

  img {
    height: 35px;
    width: auto;
  }

  .open > a, .open > a:hover, .open > a:focus {
    background-color: #222222;
    color: white;
  }

  > li > a:hover, .nav > li > a:focus {
    background-color: #222222;
    color: white;
  }
}

// Put this in a bootstrap theme override file...
.dropdown > ul > li > a:hover {
  background-color: $black;
}

.dropdown > ul > li a > i {
  margin-left: -12px;
  margin-top: 2px;
  color: #FFB42E;
  font-size: 18px;
}

.dropdown > ul > li > a > img {
  margin-left: 5px;
}

.dropdown-menu {
  background-color: $black;

  > ul > li > a {
    color: $white;
  }
}

.notif-image {
  height: 40px;
  border-radius: 50%;
}

span.notif {
  margin-left: 10px;
}

span.notif-name {
  font-weight: 700;
}

@media (max-width: 760px) {
  .collapse-container {
    background: #333;
    margin-top: 49px;
  }
}

.collapse-button {
  background: #f2f2f2;
}
