@import '~theme/colors';

.subscribe {
  padding: 30px;
  background: $light-grey;
}

.input {
  max-width: 700px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;

  input {
    //height: 53px;
  }
}

.email-addon {
  background: $yellow;
  color: $black;
}

.submit-button {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  //These two are because bootstrap only puts a border radius on the last child, and the long button is not
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
