@import '../colors.scss';
@import '../fonts.scss';
#modal {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    .row {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .auth-icon {
            background-color: $yellow;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            i {
                font-size: 2em;
                width: 100%;
                height: 100%;
                text-align: center;
                position: relative;
                top: 72%;
                transform: translateY(-50%);
            }
        }
        .social-container {
          padding: 0px !important;
        }
        .social-container-2 {
          margin-top: 10px;
        }
    }
    .field {
        margin-top: 25px;
        margin-bottom: 25px;
        .labels {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        h6 {
            margin-bottom: 1px;
        }
        .name {
            color: $black;
        }
        .error {
            color: $yellow;
            text-align: right;
        }
    }
    #sliderfull {
        width: 100%;
        .nonp {
            color: $yellow;
        }
        #labelcont {
            .fa-arrow-left {
                padding-right: 10px;
            }
            .fa-arrow-right {
                padding-left: 10px;
            }
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #slider {
            height: 50px;
            background-color: $yellow;
            border-radius: 25px;
            #leftSide {
                background-color: $black;
                width: 50%;
                margin-left: 0;
                height: 50px;
                border-bottom-left-radius: 25px;
                border-top-left-radius: 25px;
            }
            #handleCont {
                width: 295px;
                height: 50px;
                position: absolute;
                padding-left: 20px;
            }
            #handle {
                position: absolute;
                border: 2px solid $black;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: $white;
                left: 45%;
                transform: translateX(-45%);
                cursor: grab;
                cursor: -webkit-grab;
                i {
                    font-size: 2.3em;
                    width: 45px;
                    text-align: center;
                    position: relative;
                    top: 45%;
                    transform: translateY(-45%);
                }
            }
        }
    }
}
