@import 'colors';
@import 'fonts';

/** BACKGROUNDS **/
/* --------------------------------------
=========================================
    GLOBAL STYLES
=========================================
-----------------------------------------*/
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  /* height: 100%; */
  /* Made Buttons Unclickable */
  font-family: $font-stack;
  background: $white;
  padding: 0 !important; // Hack to prevent body from shifting when modal opens
  height: 100%;
}

.modal-open {
  overflow: auto;
}

.app-container {
  height: 100%
}

#content-main {
  padding-top: 50px; // to offset the 50px height of the navbar
  min-height: 100%;
  margin-bottom: -180px;
  background-color: $black;
}

footer, .push {
  height: 180px !important;
}

/*---------------------------------------
   Typography
-----------------------------------------*/
/* HEADINGS */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  text-align: center; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold; }

p {
  font-size: 12px; }

/*---------------------------------------
   LINKS
-----------------------------------------*/
a {
  color: #777777; }

a:hover {
  text-decoration: underline;
  color: #777777; }

a.darklink {
  color: #333333; }

a.darklink:hover {
  text-decoration: none;
  color: #000000; }

/* Move stuff below Navbar */
.content {
  margin-top: 50px; }

/*---------------------------------------
   FORMS
-----------------------------------------*/
form .title {
  border-top: 1px solid #E6E6E6;
  padding: 25px;
  text-align: center; }

form .title h6 {
  line-height: 16px;
  font-weight: normal;
  color: #777;
  margin-bottom: 0;
  font-size: 13px; }

#form-container {
  overflow: hidden;
  /* border: 3px solid #333333; */
  background-color: #e4e3e1;
  /*border-radius: 5px;
    box-shadow: 0px 0px 30px #333;*/ }

.modal-content input {
  color: #333; }

.modal-body {
  padding: 0px; }

.modal-title {
  color: #333; }

.step {
  margin-top: 15% !important; }

form h1 {
  font-size: 18px;
  margin: 0; }

input, select {
  width: 100%;
  border: none;
  background-color: white;
  height: 50px;
  padding: 10px;
  border-bottom: 1.5px solid #e6e6e6; }

textarea {
  resize: none;
  height: 100px;
  border: none;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6; }

input:focus, textarea:focus {
  outline: 0;
  border-bottom-color: #ffb42e; }

input[type=checkbox] {
  height: auto;
  width: auto;
  padding: 0; }

form .reminders {
  border-bottom: 3px solid #333333;
  /*margin: 0;*/
  padding: 10px;
  background-color: #333333;
  color: #e4e3e1;
  border-top: none; }

form .reminders h6 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

form .red-alert {
  background-color: #FA334F;
  text-align: center; }

form .green-alert {
  background-color: darkseagreen;
  text-align: center; }

.has-error {
  display: block !important; }

#icon-container {
  text-align: right;
  padding: 0; }

label {
  font-family: "montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold; }

.low-message {
  font-size: 13px;
  text-align: left;
  margin: 20px 0px;
  text-shadow: 0px 0px 20px #FF8E3A;
  color: #444;
  font-weight: normal; }

.low-message a {
  color: white;
  font-weight: normal; }

.low-message span {
  float: right; }

#login-button {
  border-color: #e4e3e1;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  color: #777; }

#login-button:focus {
  border-color: #2980B9; }

/*---------------------------------------
   BUTTONS
-----------------------------------------*/
button, .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  margin: 2.5px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.btn-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  margin: 2.5px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.no-transition {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

button:focus {
  outline: 0;
  border: 3px solid #2980B9; }

.primary-btn {
  border: 3px solid $yellow;
  background-color: $yellow;
  color: $black;
}

.primary-btn:hover {
  color: $black;
}

.default-btn {
  border: 3px solid #333333;
  background: none; }

.default-btn:hover {
  background-color: $black;
}

.light-btn {
  border: 3px solid #333333;
  background-color: #e4e3e1; }

.light-btn:hover {
  background-color: #CFCDCA; }

.dark-btn {
  border: 3px solid #333333;
  background-color: #333333;
  color: #e4e3e1; }

.dark-btn:hover {
  color: $white;
  background-color: $black !important;
}

.dark-on-dark-btn {
  border: 3px solid #e4e3e1;
  background-color: #333333;
  color: #e4e3e1; }

.dark-on-dark-btn:hover {
  opacity: .9; }

/*----------------------------------------------------------

    UTILITIES

----------------------------------------------------------*/
.white {
  color: #F2F2F2 !important; }

.dark {
  color: #333 !important; }

/*----------------------------------------------------------
    BREAKPOINTS FOR BOOTSTRAP
    -------------------------------------------------
    EXTRA SMALL DEVICES     @media(max-width:767px){}
    ie. phones
    -------------------------------------------------
    SMALL DEVICES           @media(min-width:768px){}
    ie. tablets
    -------------------------------------------------
    MEDIUM DEVICES          @media(min-width:992px){}
    ie. desktops
    -------------------------------------------------
    LARGE DEVICES          @media(min-width:1200px){}
    ie. largest
    -------------------------------------------------
----------------------------------------------------------*/
/*---------------------------------------------------------

    NAVBAR/SIDEBAR

----------------------------------------------------------*/
/* ===========================
   NAVBAR
============================== */
nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  /*
    background-image: url(../images/Logo/CLight.svg);
        background-size: auto 25px;
        background-position: center center;
        background-repeat: no-repeat;
    */
  /*box-shadow: 0px 0px 15px 5px #9A9A9A;*/
  /*box-shadow: 0px 0px 8px 5px #9A9A9A;*/
  color: #e4e3e1;
  z-index: 100;
  display: block;
}

nav .left {
  list-style-type: none;
  padding: 0;
  float: left;
  display: table-row;
  margin-left: 1.5em; }

nav .right {
  float: right !important;
  margin-right: -15px;
}

nav a {
  color: #e4e3e1;
  font-weight: normal;
  font-size: 12px; }

nav a i {
  margin-left: 5px; }

.logo {
  margin-top: 7px; }

nav img {
  height: 35px;
  width: auto; }

nav .logo {
  padding: 0; }

#MenuController {
  height: 25px;
  width: auto;
  background: none;
  border: none;
  margin-top: 14px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #222222;
  color: white; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #222222;
  color: white; }

a:hover {
  color: white; }

.dropdown > ul > li > a:hover {
  background-color: #e4e3e1; }

.dropdown > ul > li a > i {
  margin-left: -12px;
  margin-top: 2px;
  color: #FFB42E;
  font-size: 18px; }

.dropdown > ul > li > a > img {
  margin-left: 5px; }

.notif-image {
  height: 40px;
  border-radius: 50%; }

span.notif {
  margin-left: 10px; }

span.notif-name {
  font-weight: 700; }

/* ===========================
   SIDEBAR

    My Dashboard
    -------
    Community
    Matches
    Real life jobs page
    -------
    My Activity
    -------
    Made with communicode
    -------
    Featured Projects/Tech Tip of the Week

============================== */
#sidebar {
  min-width: 250px;
  background-color: white;
  position: fixed;
  z-index: 75;
  top: 50px;
  bottom: 0;
  left: 0;
  transform: translateX(-250px);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

/* ===========================
   MAIN LINKS
============================== */
#sidebar .top {
  padding-top: 30px; }

#sidebar ul {
  list-style-type: none;
  padding: 0;
  font-size: 12px; }

#sidebar li {
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px; }

#sidebar li:hover {
  background-color: #e4e3e1;
  cursor: pointer; }

/* ===========================
   FEATURED SECTION
============================== */
#sidebar .bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

#featured_link {
  color: #333333; }

#featured_link:hover {
  text-decoration: none; }

#sidebar #project:hover, #sidebar #nonprofit:hover {
  background-size: auto 120%; }

#sidebar #project, #sidebar #nonprofit {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  padding: 15px 15px;
  margin: 15px;
  margin-top: 0;
  color: white;
  background-size: cover;
  /*min-height: 150px;*/
  text-shadow: 0px 0px 15px #333;
  background-position: center center;
  box-shadow: inset 0px 0px 30px #555;
  opacity: .9;
  border-radius: 3px;
  /*border: 1px solid #E6E6E6;*/ }

/* ===========================
   FEATURED HEADINGS
============================== */
#sidebar #project h6, #sidebar #nonprofit h6 {
  text-transform: uppercase;
  font-size: 18px;
  opacity: .99;
  /*font-weight: normal;*/
  margin: 0;
  margin-top: 15px; }

#sidebar #project h7, #sidebar #nonprofit h7 {
  font-size: 12px;
  font-weight: normal;
  opacity: .8; }

#sidebar #project i, #sidebar #nonprofit i {
  /*margin: 10px;
    margin-left: 0;*/ }

/* ===========================
   CONTROL OPEN/CLOSE
============================== */
.sidebar_open {
  transform: none !important;
  box-shadow: 0px 0px 20px #333; }

/* ==========================

Reusable Components

===========================*/
.divider {
  background: #333;
  height: 50px; }

/* ====================================================================================================
   BREAKPOINT CONTROLS
==================================================================================================== */
/*-------------------------------------------------
    EXTRA SMALL DEVICES                    ie. phones
    -------------------------------------------------*/
.mailchimp {
  position: absolute; left: -5000px;
}
