div.mainContent {
  padding: 100px;

  h4 {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }

  hr {
    margin: 30px auto;
  }
}

div.form {
  label {
    text-align: left;
    font-weight: 200;
  }
  input {

  }

  button {
    height: 50px;
    border: none;
    width: 100%;
    background-color: #FFB42E;
  }
}

.error {
    color: red !important;
}
