div.mainContent {
  text-align: center;
  margin-bottom: 30vh;
}
div.form button {
  position: absolute;
  height: 50px;
  bottom: -2px;
  right: 0px;
  border: none;
  background-color: #FFB42E;
}
div.error {
    color: red;
}
