@import '../colors';
@import '../fonts';

p {
    color: $black;
    font-size: 12px;
}

body {
    background: #ddd;
    padding-top: 20px;
}

.panel1 {
    height: 500px;
    background: #ddd;
    padding-top: 20px;
    margin-left: 200px;
}

.panel2 {
    height: 591px;
    width: 830px;
    padding-top: 15px;
    padding-left: 80px;
    margin-top: 15px;
    background-color: $white;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}
