
/**
* Each bg image should be placed here with the link to the image.
**/
.ground {
  background-image: url('https://images.unsplash.com/photo-1460751329354-07d91b47af38?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.fire {
  background-image: url('https://images.unsplash.com/photo-1477436637632-85d08d035630?dpr=1&auto=format&fit=crop&w=1500&h=1018&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.clouds {
 background-image: url('https://images.unsplash.com/photo-1468083684825-012f39547b23?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.water {
  background-image: url('https://images.unsplash.com/photo-1419133203517-f3b3ed0ba2bb?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.fruit {
  background-image: url('https://images.unsplash.com/photo-1469542415034-6648d8c05d5b?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}
/**
* Each background type needs to have the same image but with the linear-gradient added to it to keep add the darken image effect
**/
.ground.chosen {
  background:
              linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ),
               url('https://images.unsplash.com/photo-1460751329354-07d91b47af38?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.fire.chosen {
  background:
              linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ),
              url('https://images.unsplash.com/photo-1477436637632-85d08d035630?dpr=1&auto=format&fit=crop&w=1500&h=1018&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.clouds.chosen {
 background:
             linear-gradient(
               rgba(0, 0, 0, 0.45),
               rgba(0, 0, 0, 0.45)
             ),
             url('https://images.unsplash.com/photo-1468083684825-012f39547b23?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

.water.chosen {
  background:
              linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ), url('https://images.unsplash.com/photo-1419133203517-f3b3ed0ba2bb?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}
.fruit.chosen {
  background:
              linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
              ),
              url('https://images.unsplash.com/photo-1469542415034-6648d8c05d5b?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
  background-size: 100% 100%;
}

/**
* Start of actual interest box styling.
**/
.interest-picture {
  height: 300px;
	text-align: center;
	background-position: center center !important;
	-moz-box-shadow:    inset 0 0 5px #333;
	-webkit-box-shadow: inset 0 0 5px #333;
	box-shadow:         inset 0 0 5px #333;
}
// General text styling for what will be seen in the Interest card.
.interest-picture h3 {
	color: #F2F2F2;
	padding-top: 20%;
  margin-top: 0px;
  text-shadow: 0px 0px 3px black;
}
// This is the checkmark, we don't want that visible by default.
.interest-picture h3 i {
  display: none;
}
// Styling the selected Interest card.
.interest-picture.chosen {
	-moz-box-shadow:    inset 0 0 10px #333 !important;
	-webkit-box-shadow: inset 0 0 10px #333 !important;
	box-shadow:         inset 0 0 10px #333 !important;
}
// Changing the styling for the header of the selected Interest card.
.interest-picture.chosen h3 {
	font-size: 125px;
	padding: 7%;
	font-weight: 200;
  text-shadow: 0px 0px 30px black;
}
// Remove the title of the selected card.
.interest-picture.chosen h3 span {
  display: none;
}
// Show the checkmark of the selected card.
.interest-picture.chosen h3 i {
  display: block;
}


// This is a class for a DIV if we happen to have/load an uneven number of interests.
.hold {
  display: none;
}
